* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1;
  color: F8F9FA;
  font-size: 12px;
  background-color: 495057;
}
