/*Universal selector this is applied to whole application*/
* {
  box-sizing: border-box;
}
/*styling for the body tag*/
body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1;
  font-size: 12px;
  color: #c2c1a5;
  background-color: #596869;
}
/*This targets the nav bar,and makes it responsive*/
header {
  top: 0;
  position: flex;
  z-index: 2;
  width: 100%;
  height: 6.8rem;
  background-color: #515751;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  flex: 2;
  margin: 1.6rem;
}

.nav-link a {
  text-decoration: none;
  color: e9ecef;
  font-size: 1.4rem;
}
/*when the nav link is hovered over it changes colour*/
.nav-link a:hover {
  color: 2b2d42;
}
/* makes div to display image and text side by side*/
#float {
  top: 10px;
  display: flex;
  margin: 20px;
}

.Profile-img {
  background-size: cover;
  background-position: center;
  float: left;
}

.Bio {
  width: 50%;
  padding: 20px;
  font-size: 2.2rem;
}

/* styling for main project so that it spans across page*/

#Projects {
  display: flex;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#background {
  height: 20rem;
  width: 100%;
}

.Main {
  width: 100%;
  padding: 20px;
  font-size: 1.3rem;
}

#float-p {
  align-content: center;
}
/*styling for project cards and ensured that it's responsive*/

.ProjectCards {
  border: 1px solid grey;
  width: 28rem;
  margin: 2rem;
  position: relative;
  justify-content: space-between;
}

.ProjectCards p {
  position: flex;
  margin: 0;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
}
/*styling for footer*/
footer {
  padding: 40px 0;
  color: #4b4c4d;
  font-size: 24px;
  justify-content: center;
}
/*media queries for responsive webpage*/
@media screen and (max-width: 768px) {
}
